<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  SYSTEM "mybatis-3-mapper.dtd">

<mapper namespace="seisan.rest.oracle">

  <select id="SELECT_EVENT" resultType="EventDetail">
    select
      A.EVENT_ID eventId
      , A.DETAIL_IDS eventDetail
      , A.EVENT_AMOUNT adAmount
      , TO_CHAR(A.EVENT_DATE, 'YYYY/MM/DD HH24:MI:SS') adDate
      , A.EVENT_FROM eventFrom
      , A.EVENT_TO eventTo
      , UA.NAME adUserFrom
      , UB.NAME adUserTo
    from
      ASY_WK_268.ADJUSTMENT_EVENT A
    left join
      ASY_WK_268.USER_MST UA
    on A.EVENT_FROM = UA.id
    left join
      ASY_WK_268.USER_MST UB
    on A.EVENT_TO = UB.ID
    order by
      EVENT_DATE DESC
      , EVENT_FROM
  </select>

  <select id="SELECT_EVENT_BY_ID" resultType="EventDetail">
    select
      A.EVENT_ID eventId
      , A.DETAIL_IDS eventDetail
      , A.EVENT_AMOUNT adAmount
      , A.EVENT_DATE adDate
      , A.EVENT_FROM eventFrom
      , A.EVENT_TO eventTo
    from
      ASY_WK_268.ADJUSTMENT_EVENT A
    where
      EVENT_ID = #{eventId}
  </select>

  <select id="SELECT_ATOB_WITH_DETAILID" resultType="UserAUserB_RESULT">
    select
      A.AD_DETAIL_ID adNum
      ,A.PAY_ID payNum
      ,A.AD_AMOUNT amount
      ,UA.NAME userNmFrom
      ,UB.NAME userNmTo
      ,A.AD_DATE adDate
      ,A.AD_DONE adDone
      ,P.PAY_CONTENT use
      ,A.AD_FROM userIdFrom
      ,A.AD_TO userIdTo
    from
      ASY_WK_268.ADJUSTMENT_DETAIL A
    inner join
      ASY_WK_268.PAY_BIZ P
    on A.PAY_ID = P.PAY_ID
    left join
      ASY_WK_268.USER_MST UA
    on A.AD_FROM = UA.ID
    left join
      ASY_WK_268.USER_MST UB
    on A.AD_TO = UB.ID
    where
    <if test="userA != null">
      A.AD_FROM = #{userA}
    and
    </if>
    <if test="userB != null">
      A.AD_TO = #{userB}
    and
    </if>
      A.AD_DETAIL_ID in
    <foreach collection="detailIds" item="item" open="(" separator="," close=")">
       #{item}
    </foreach>
    order by
      AD_DONE DESC,
      AD_AMOUNT DESC
  </select>
</mapper>